<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/product.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ПластОднострій", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="ukrmenu">
                    <li>@Html.ActionLink("головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("про нас", "About", "Home")</li>
                    <li>@Html.ActionLink("контакти", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="title-big shapca">
            <img src="/Img/shapka_04.png" style="width:100%; height: 150px" />
        </div>
        <div class="navbar">
            <div class="container">
                <div class="navbar" id="container2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="container3">
                    <div class="navbar-collapse collapse" id="menu2">
                        <ul class="nav navbar-nav">
                            <li id="buttonMenu2">@Html.ActionLink("одяг для хлопців", "Index", "Home")</li>
                            <li id="buttonMenu2">@Html.ActionLink("одяг для дівчат", "Index", "Home")</li>
                            <li id="buttonMenu2">@Html.ActionLink("пластові аксесуари", "Index", "Home")</li>
                            <li id="buttonMenu2">@Html.ActionLink("пластові відзнаки", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">Site is Under Construction </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PravylnyjOdiag Corporation</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
